<!DOCTYPE html>
<html lang="en">
<head>
<title>Mail Respuesta ICEL</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<h2>Srta. Mayanin P&eacute;rez Flores.</h2>
		<h2>Analista de Reclutamiento y Selecci&oacute;n.</h2>

		<div class="well well-lg">
			<p>
				Agradeci&eacute;ndole de antemano su apreciable atenci&oacute;n a mi
				mensaje previo, <br /> sobre todo su pronta y puntual respuesta, me
				gustar&iacute;a sugerirle el pr&oacute;ximo <br /> Lunes 26 de los
				presentes a las 11.00 a.m., o en el horario que usted me indique
				para <br /> celebrar una entrevista con el objeto de ampliar los
				datos que aparecen en mi curr&iacute;culo <br /> as&iacute; como
				todo aquello que considere de su inter&eacute;s y el de <strong>Universidad
					ICEL</strong>, <br /> consid&eacute;reme dispuesto a realizar los
				ex&aacute;menes <br /> necesarios e iniciar labores inmediatamente,
				reciba el m&aacute;s <br /> cordial saludo, quedo a sus
				&oacute;rdenes en mis medios de contacto. <br />
			</p>
		</div>


		<div class="well well-sm">
			<p>
				Atentamente. <br /> Alfredo Jim&eacute;nez Miguel. <br /> E-mail To:
				<br /> alfredwebmaster@pcentaury.com <br /> fred_jm_74@yahoo.com.mx
				<br /> asysinf@hotmail.com <br /> fred_jm_74@icloud.com <br />
				Twiter: @jm_fred <br /> Tel.58-47-07-73 <br /> Cel.
				04455-51-07-20-94
			</p>
		</div>
		<div class="well">
			<figure>
				<a href="https://pcentaury.com/mailicel.html"> <img
					src="https://www.pcentaury.com/images/logoPC.jpg" alt="logotipo" />
				</a>

			</figure>
			<p>Si el correo no se visualiza correctamente copie el enlace en su navegador o
			haga clic en la imagen
				adjunta.</p>



		</div>
	</div>

</body>
</html>